RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} ^maruteeglobal\.piratepro\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.maruteeglobal\.piratepro\.in$
RewriteRule ^/?$ "https\:\/\/maruteeglobal\.com\/" [R=301,L]

